<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Egor Livada's Profile</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="profile-card">
        <div class="profile-image">
            <img src="static/images/me.jpg" alt="Egor Livada">
        </div>
        <div class="profile-info">
            <h1>Egor Livada</h1>
            <p class="title">ITMO University</p>
            <p>{{random_number}}-random number</p>
            <a href="https://github.com/W0rthLes" class="github-link">GitHub</a>
        </div>
    </div>
</body>
</html>
